{% extends "layout.html" %}

{% block title %}{{post.title}} | {{site.name}}{% endblock %}

{% block afterstyle %}
        <link rel="stylesheet" href="{{static_url('syntax.css')}}" />
        {%- if theme.shadowbox %}
        <link rel="stylesheet" href="{{static_url('shadowbox/shadowbox.css')}}" type="text/css" />
        {%- endif %}
        <link rel="canonical" href="{{post|permalink}}" />
        {%- if post.summary %}
        <meta name="description" content="{{post.summary}}" />
        {%- endif %}
        {%- for item in theme.navigation %}
        {%- if item.link == post|permalink %}
        <script type="text/javascript">
            var currentNav = "{{item.id}}";
        </script>
        {%- endif %}
        {%- endfor %}
{%- endblock %}

{% block entrytitle %}{{post.title}}{% endblock %}

{% block container %}
            <div class="entry">
                {%- if post.author.name %}
                <div class="author icon-user">
                    {%- if post.author.website %}
                    <a href="{{post.author.website}}" title="{{strings.post_author}}{{post.author.name}}">{{post.author.name}}</a>
                    {%- elif post.author_website %}
                    <a href="{{post.author_website}}" title="{{strings.post_author}}{{post.author.name}}">{{post.author.name}}</a>
                    {%- else %}
                    {{post.author.name}}
                    {%- endif %}
                </div>
                {%- endif %}
                <div class="entry-content">
                    {{post.content|parse_content(post.toc)}}
                </div>
                <div class="fn-clear">
                    <p class="entry-rel">
                    {%- if post.relation.newer %}
                    <a id="prev-entry" class="fn-left" href="{{post.relation.newer|permalink}}" title="{{post.relation.newer.title}}" rel="prev">{{strings.post_newer}}</a>
                    {%- endif %}
                    {%- if post.relation.older %}
                    <a id="next-entry" class="fn-right" href="{{post.relation.older|permalink}}" title="{{post.relation.older.title}}" rel="next">{{strings.post_older}}</a>
                    {%- endif %}
                    </p>
                </div>
            </div>
            <div class="entry-meta fn-clear">
                <p class="entry-time icon-time fn-left">{{strings.post_created}}
                <a href="{{ post|year_url }}" rel="index"><time class="created" datetime="{{post.date|xmldatetime}}" pubdate="pubdate">{{post.date.strftime("%Y/%m/%d")}}</time></a>
                </p>
                {%- if post.modified %}
                <p class="entry-modified icon-edit fn-left">{{strings.post_modified}}
                <time class="modified" datetime="{{post.modified|to_datetime|xmldatetime}}">{{(post.modified|to_datetime).strftime("%Y/%m/%d %H:%M")}}</time>
                </p>
                {%- elif display_updated_time_of_post %}
                <p class="entry-modified icon-edit fn-left">{{strings.post_modified}}
                <time class="modified" datetime="{{post.updated|xmldatetime}}">{{post.updated.strftime("%Y/%m/%d %H:%M")}}</time>
                </p>
                {%- endif %}
                {%- if post.tags %}
                <p class="entry-tags icon-tag fn-left">{{strings.post_tagged}}
                {%- for tag in post.tags %}
                <a href="{{content_url('tag', tag, 'index.html')}}" class="tag" rel="tag">{{tag}}</a>
                {%- endfor %}
                </p>
                {%- endif %}
            </div>

            {%- if theme.disqus %}
            {%- if theme.allow_comment_on_secret_post or post.public %}
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = '{{theme.disqus}}';
                var disqus_title = '{{post.title}}';
                (function() {
                 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                 dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                 })();
            </script>
            {%- endif %}
            {%- endif %}

            {%- if theme.shadowbox %}
            <script type="text/javascript" src="{{static_url('shadowbox/shadowbox.js')}}"></script>
            <script type="text/javascript">
            Shadowbox.init({ handleOversize: "drag" });
            window.onload = function() {
                Shadowbox.setup(".entry-content img", { gallery: "{{post.title}}", counterType: "skip" });
            };
            </script>
            {%- endif %}
{%- endblock %}
